.coinsVariation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bestprice {
  align-self: center;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
